@media all and (min-width: 360px) {
  .workitem-not-found {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    color: var(--text-primary-color);
  }
}

.FormGroup {
  margin: 10px 0px;
}

.ControlLabel {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

.Input {
  width: 250px;
  background-color: var(--text-primary-color);
}
