.rapid-active
  color: var(--active-color)

.rapid-work-item
  display: flex
  justify-content: center
  font-weight: 700
  cursor: pointer
  margin: 10px

  .rapid-work-item-field-group
    display: flex
    flex-direction: column

  .rapid-work-item-field
    display: flex
    justify-content: center

  .rapid-badge
    font-size: 0.8em
    padding: 5px
    border-radius: 10px
    background-color: var(--ui-gray-dark)
