.radReportTable
  background-color: var(--primary-background-color)
  height: 100%
  width: 100%
  display: flex
  flex-direction: column

  .warning-status
    overflow: hidden
    padding-right: 10px
    margin: 2px;

    .warning-border
      padding:10px
      border: 1px solid var(--snackbar-warning)
      color: var(--snackbar-warning)
  
  .radReportTableBody
    color: var(--text-primary-color)
    margin: 10px

    textarea, select
      width: 95%

  .radReportTableHeader
    padding-left: 45px

    .radReportTableHeaderItem
      display: inline-block
      margin-top: 9px
      margin-left: 9px
      padding-left: 9px
      width: 90px
      font-size: 14px
      line-height: 20px
      border-left: 1px solid var(--text-secondary-color)
      color: var(--text-primary-color)

      .timepointLabel
        color: var(--text-secondary-color)
        font-size: 12px

  .radReportTableFooter
    padding: 10px
    color: #fff
    text-align: center
    z-index: 1

    .saveBtn
      border: 1px solid var(--ui-border-color-active)
      border-radius: 25px
      background-color: var(--active-color)
      color: var(--ui-gray-dark)
      line-height: 25px
      padding: 0 20px
      outline: none
      cursor: pointer
      margin-right: 4px

      &:hover, &:active
        background-color: var(--ui-sky-blue)

      svg
        margin-right: 4px
        position: relative
        top: 2px

    .saveBtn:disabled
      cursor: default
      border: 1px solid var(--ui-gray-darker)
      background-color: var(--ui-gray-light)
      &:hover, &:active
        background-color: var(--ui-gray-light)

    .nextBtn
      border: 1px solid var(--ui-border-color-active)
      border-radius: 25px
      background-color: var(--default-color)
      color: var(--ui-gray-dark)
      line-height: 25px
      padding: 0 20px
      outline: none
      cursor: pointer
      margin-right: 4px

      &:hover, &:active
        background-color: var(--ui-sky-blue)

      svg
        margin-right: 4px
        position: relative
        top: 2px

.radReportLoading
  background-color: var(--primary-background-color);
  // box-shadow: inset 0 0 0 1px var(--ui-border-color-dark);
  // border: 5px solid transparent
  // border-radius: 12px
  height: 135px
  margin: 0 auto
  padding 5px
  position: relative
  transition: var(--sidebar-transition);
  width: 217px
  -moz-background-clip: padding
  -webkit-background-clip: padding
  background-clip: padding-box

  // Thumbnail Loading Indicator

  .image-thumbnail-loading-indicator
    position: absolute
    left: 50%
    top: 50%
    margin: -22px 0 0 -22px
    display: block
    width: 44px
    height: 44px

    &:after
      content: " "
      display: block
      width: 32px
      height: 32px
      margin: 1px
      border-radius: 50%
      border: 5px solid var(--ui-border-color-dark)
      border-color: var(--ui-border-color-dark) transparent var(--ui-border-color-dark) transparent
      animation: image-thumbnail-loading-indicator 1.2s linear infinite

    @keyframes image-thumbnail-loading-indicator
      0%
        transform: rotate(0deg)
      100%
        transform: rotate(360deg)